/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #21CB47 !important;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #21CB47 !important;
}
.nav-link{
	color: #21CB47;
    background-color: #A4F9B7 !important;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
section {
  width: 80%;
  position: relative;
  left: 9%;
  padding: 1%;
}

#carousel {
    height: 100px;
}
#header {
	position: relative;
	margin-top: -3%;
}
#head-web {
	background-color: #A4F9B7;
}
#top-nav{
	background-color: #A4F9B7 !important;
	position: relative;
	margin-top: 0%;
}

#navbar {
	background-color: #21CB47;
	width: 100%;
}
.navbar-custom {
    background-color: #6FF78E;
}

#content {
	position: relative;
	left: 2%;
	width: 70%;
}

#content-query{
	position: relative;
	width: 80%;
	margin-top: -4%;
}

#logo {
	float: left;
}

#name-web {
	float: right;
}

#vertical {
	width: 22%;
	position: relative;
	margin-right: 2%;
	float: right;
	background-color: #e3f2fd;


}
footer {
  background-color: #21CB47;
	clear: both;
  position: relative;
  height: 60px;

}



#line-chart {
  margin: 0 auto;
  height: 450px;
}
