<div id="vertical">
<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
  <a class="nav-link active"><center><b>Some usefull webs:</b></center></a>
  <ul class="list-group">
    <li><a class="nav-link" href="http://www.https://www.facebook.com/">Facebook</a></li>
    <li><a class="nav-link" href="https://github.com/vPastor/TREXON.LY">GitHub</a></li>
    <li><a class="nav-link" href="https://www.instagram.com/">Instagram</a></li>
    <li><a class="nav-link" href="https://www.linkedin.com/feed/">Linkedin</a></li>
    <li><a class="nav-link" href="https://www.youtube.com/">Youtube</a></li>
    <li><a class="nav-link" href="https://www.infojobs.net/">Infojobs</a></li>
  </ul>
</div>
</div>
